* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 15px;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.line-divider {
  border-bottom: 1px solid lightgray;
  width: 100%;
}

.slider-holder {
  padding: 20px 0;
  background-color: white;
  width: 650px;
  position: absolute;
  top: 28%;
  right: 10%;
  transform: translate(-10%, -5%);
}

/* Customize the arrows */
.slick-arrow {
  position: absolute;
  z-index: 1;
  background: url(assestes/white-arrow.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid rgb(113, 209, 113);
  background-color: rgb(113, 209, 113);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.slider-holder .slick-prev {
  right: calc(100% + -15px);
  transform: rotateY(-180deg) translateY(-50%);
}

.slick-next {
  left: calc(100% + -15px);
}

.slick-slide {
  margin: 0 15px;
}

/* Style for the slider card */
.slider-section {
  position: relative;
  background: url(assestes/main.webp);
  background-size: cover;
  background-position: center;
  padding: 380px 0px;
}

.slider-holder .slider-card {
  padding: 15px;
}

.slider-holder .slider-card .title {
  text-transform: capitalize;
  font-size: 22px;
}

.slider-holder .slider-card .icons {
  display: flex;
  margin: 20px 0;
}

.slider-holder .slider-card .icons .text {
  color: gray;
  text-align: left;
  margin-right: 15px;
  font-size: 15px;
}

.slider-holder .slider-card .icons .icon {
  margin-right: 5px;
  font-size: 22px;
}

.slider-holder .slider-card p {
  margin: 20px 0;
  color: gray;
  font-size: 16px;
  line-height: 25px;
}

.details-flex {
  display: flex;
  gap: 40px;
  margin-bottom: 15px;
}

.details-flex .item .title {
  text-transform: capitalize;
  color: gray;
  margin: 15px 0;
  font-size: 15px;
}

.details-flex .info-flex {
  display: flex;
  gap: 10px;
}

.details-flex .info-flex .icon {
  font-size: 28px;
  color: gray;
}

.details-flex .info-flex .text {
  font-size: 18px;
}

.forsale {
  margin-top: 20px;
  text-transform: capitalize;
}

.forsale .tag {
  font-size: 18px;
  color: gray;
}

.forsale .parent-flex {
  display: flex;
  gap: 25px;
}

.forsale .parent-flex .amount {
  font-size: 30px;
  font-weight: 600;
}

.forsale .parent-flex .a-mid {
  text-align: center;
  border-radius: 20px;
  padding: 5px 8px;
  background-color: red;
  color: white;
  text-transform: uppercase;
}

.forsale .action {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid lightgray;
  text-transform: capitalize;
  border-radius: 5px;
  display: block;
  font-size: 20px;
  color: gray;
}

.forsale .action:hover {
  border: 2px solid rgb(113, 209, 113);
  background-color: rgb(113, 209, 113);
  color: white;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
  .slider-holder {
    width: 580px;
    right: 8%;
    transform: translate(-8%, -5%);
  }
}

@media only screen and (max-width: 996px) {
  .slider-holder {
    width: 500px;
    right: 5%;
    transform: translate(-5%, -20%);
  }

  .details-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .forsale .parent-flex {
    gap: 15px;
  }

  .slick-arrow {
    top: calc(100% + -15px);
    transform: none;
  }

  .slick-prev {
    transform: rotateY(-180deg);
    right: auto;
    left: 35%;
    top: calc(100% + 5px);
  }

  .slick-next {
    left: 55%;
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .slider-section {
    padding: 120px 0px;
  }

  .slider-holder {
    max-width: 450px;
    right: 5px;
    transform: none;
    position: relative;
    margin: 0 auto;
  }

  .slider-holder .slider-card .icons {
    margin: 10px 0;
  }

  .slider-holder .slider-card p {
    margin: 10px 0;
    font-size: 15px;
    line-height: 20px;
  }

  .forsale .parent-flex {
    flex-direction: column;
    gap: 5px;
  }

  .forsale .parent-flex .a-mid {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .details-flex .info-flex .icon {
    font-size: 20px;
  }

  .forsale {
    margin-top: 15px;
  }

  .forsale .parent-flex .a-mid {
    width: 28%;
  }
}
